html {
    background-color: rgb(235, 234, 234);
}

body {
    margin-left: 10%
}

h1 {
   padding-top: 2%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 0;
}

.size-desk {
    width:50%;
}

.size-mobile {
    width:20%;
}